server {
    listen 80;

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;

    ssl_certificate /opt/flip/localhost.crt;
    ssl_certificate_key /opt/flip/localhost.key;

    ssl_protocols TLSv1.3;
    ssl_prefer_server_ciphers off;
    ssl_ciphers 'TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384';

    ssl_stapling on;
    ssl_stapling_verify on;

    add_header X-Frame-Options SAMEORIGIN;
    add_header X-Content-Type-Options nosniff;


    error_page 403 /403.html;

    location /ide {
        if ($cookie_decd0 != "__PASSWORD__") { return 403; }

        rewrite ^/ide(.*)$ $1 break;
        proxy_pass http://127.0.0.1:3000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /403.html {
        root /opt/flip/www/flipbook;
    }

    location /flipbook {
        root /opt/flip/www;
    }
}
